html,
body {
	width: 100%;
	height: 100%;
	font-family: 'Tauri',sans-serif;
}

#app {
	background: linear-gradient(to right, royalblue 50%, white 50%);
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	justify-content: center;
}

#homepage {
	width: 100%;
	place-self: center;
}

#home {
	/* background-color: white;
	width: 100%;
	padding: 10px 0; */
}

#intro {
	font-size: 4em;
}

#social-media {
}

#social-media-group {
	display: flex;
	justify-content: center;
}

#social-media-group li {
	margin: 10px 0;
}

#social-media-group li a {
	margin: 0 10px;
	color: black;
}

#menu {
	display: none;
}

.mobile-menu-group {
	display: none;
}





/* Ipad and Up */
@media only screen and (min-width: 576px) {
	#app {
		/* background: black; */
	}
	#home {
		/* position: absolute;
		top: 0;
		left: 0; */
	}
	#menu {
		display: block;
		/* position: absolute;
		top: 0;
		right: 0; */
	}

	#menu ul {
		display: flex;
	}

	#intro {
		font-size: 8em;
	}

	#mobile-menu {
		display: none;
	}
}